@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

body {
	padding: 40px;
    color: #444;
	background-color: #ffffff;
	font-family: "Source Code Pro", monospace;
}

#tooltip {
	position: relative;
	display: inline-block;
}

#tooltip .tooltiptext {
	visibility: hidden;
	width: 100px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-family: "Source Code Pro", monospace;
	font-size: 1rem;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -60px;
}

#tooltip:hover .tooltiptext {
	visibility: visible;
}

@media (max-width: 767.98px) {
	.main-wrapper {
		grid-template-columns: 100%;
		grid-gap: 0px;
	}
	body {
		padding: 15px;
	}
}